
@font-face {
    font-family: 'monoBold'; /* Give your font family a name */
    src: url('fonts/iAWriterMonoS-Bold.ttf') 
}

@font-face {
    font-family: 'quattro'; /* Give your font family a name */
    src: url('fonts/iAWriterQuattroS-Regular.ttf') 
}


* {
    /* border: 0.1px solid black; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
html {
    height: 100%;
}
body {
    height: 100%;

    display: grid;
    grid-template-columns: 0.15fr 0.85fr;
    grid-template-rows: 1fr;
}
html, body {
    margin: 0;
    padding: 0;
}

.subText {
    font-size: 12px;
    color: rgb(91, 91, 91);
}
.interactive:hover:hover {
    color: rgb(0, 84, 210);
    /* text-decoration: underline; */
}
  


/* LOCAL */
.mainContainer {
    grid-column: 2/3;
    
    padding: 50px;
}
#mainContainerHeader {
    margin-top: 10px;
    font-size: 50px;
    font-family: 'monoBold' ,monospace;
}
.toDoContainer {
    margin-top: 20px;
    width: 45%;

    padding: 10px;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 10px; /* Adjust the value to control the roundness */
}
#toDoItem {
    display: flex;
    padding: 5px;
    padding-left: 0px;

}
#toDoText {
    margin-left: 4px;
}
.moreInfo {
    color: rgb(66, 66, 66);
    font-family: 'quattro';
    margin-left: 5px;
}
.moreInfo:hover, .editButton:hover {
    background-color: rgb(216, 216, 216);
}
.moreInfo:active, .editButton:active {
    background-color: rgb(195, 195, 195);
}

.todoInfoContainer {
    display: flex;

    margin-left: auto;
}
.todoInfoContainer * {
    margin: 5px;
}
.dueDate {
    color: rgb(91, 91, 91);
}
.priority {
    color: red;
    font-weight: bold;
}
.addTodoBtn {
    margin-top: 10px;
}


.sidebar {
    grid-column: 1/2;
    padding: 20px;

    background-color: rgb(245, 245, 245);
}
#sidebarHeader {
    font-family: 'monoBold','Courier New', Courier, monospace;
    font-size: 30px;
}
.projectsContainer {
    margin-top: 15px;
}
#projectTab {
    margin-top: 5px;
    margin-bottom: 5px;
}
#addProjectBtn {
    margin-top: 15px;
}